.header {
  background: var(--gray-700);
  padding: 4.75rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 3rem;
}

@media (max-width: 768px) {
  .header {
    padding: 2.75rem 0;
  }
}